import(Matrix)

# Export only the main functions
export("excursions","excursions.inla", "gaussint", "excursions.variances","simconf", "spatialexcursions",contourmap)
useDynLib(excursions2, .registration=TRUE)
