import(Matrix)
import(sp)

# Export only the main functions
export(excursions)
export(excursions.inla)
export(gaussint)
export(excursions.variances)
export(simconf)
export(simconf.mixture)
export(simconf.inla)
export(continuous)
export(contourmap)
export(contourmap.inla)
export(contourmap.colors)
export(tricontour)
S3method(tricontour,inla.mesh)
S3method(tricontour,matrix)
S3method(tricontour,list)
export(tricontourmap)
S3method(tricontourmap,inla.mesh)
S3method(tricontourmap,matrix)
S3method(tricontourmap,list)

useDynLib(excursionsdevel, .registration=TRUE)
