import(Matrix)

# Export only the main functions
export(excursions)
export(excursions.inla)
export(gaussint)
export(excursions.variances)
export(simconf)
export(continuous)
export(contourmap)
export(contourmap.inla)
export(contourmap.colors)
export(tricontourmap)
S3method(tricontourmap,inla.mesh)
S3method(tricontourmap,matrix)
S3method(tricontourmap,list)

useDynLib(excursionsdevel, .registration=TRUE)
